#set($inputRoot = $input.path('$'))
{
  "name" : "$util.escapeJavaScript($inputRoot.name)",
  "email" : "$util.escapeJavaScript($inputRoot.email)",
  "phone" : "$util.escapeJavaScript($inputRoot.phone)",
  "company" : "$util.escapeJavaScript($inputRoot.company)"
}